In [3]:
import pandas as pd

In [11]:
data = pd.read_excel('data.xlsx')
data

,客户次类别,房产数,每房人数,平均年龄,客户主类别,罗马天主教比例,新教比例,其它宗教比例,无宗教比例,已婚占比,...,投保个人意外险数量,投保家庭意外险数量,投保身残险数量,投保火险数量,投保冲浪险数量,投保船险数量,投保自行车险数量,投保财产险数量,投保社会安全险数量,移动房车险数量
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5817,36,1,1,2,8,0,6,1,2,1,...,0,0,0,1,0,0,0,0,0,0
5818,35,1,4,4,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
5819,33,1,3,4,8,0,6,0,3,5,...,0,0,0,1,0,0,0,0,0,1
5820,34,1,3,2,8,0,7,0,2,7,...,0,0,0,0,0,0,0,0,0,0
5821,33,1,3,3,8,0,6,1,2,7,...,0,0,0,0,0,0,0,0,0,0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5822 entries, 0 to 5821
Data columns (total 86 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   客户次类别       5822 non-null   int64
 1   房产数         5822 non-null   int64
 2   每房人数        5822 non-null   int64
 3   平均年龄        5822 non-null   int64
 4   客户主类别       5822 non-null   int64
 5   罗马天主教比例     5822 non-null   int64
 6   新教比例        5822 non-null   int64
 7   其它宗教比例      5822 non-null   int64
 8   无宗教比例       5822 non-null   int64
 9   已婚占比        5822 non-null   int64
 10  同居占比        5822 non-null   int64
 11  其它关系占比      5822 non-null   int64
 12  单身占比        5822 non-null   int64
 13  无子女         5822 non-null   int64
 14  有子女         5822 non-null   int64
 15  高等教育        5822 non-null   int64
 16  中等教育        5822 non-null   int64
 17  低等教育        5822 non-null   int64
 18  高管          5822 non-null   int64
 19  企业家         5822 non-null   int64
 20  农场主         5822 non-null   int64
 21  中层管理者       5822 non-null   int64
 22  技术工人        5822 non-null   int64
 23  非熟练劳工       5822 non-null   int64
 24  社会阶层A       5822 non-null   int64
 25  社会阶层B1      5822 non-null   int64
 26  社会阶层B2      5822 non-null   int64
 27  社会阶层C       5822 non-null   int64
 28  社会阶层D       5822 non-null   int64
 29  租房子         5822 non-null   int64
 30  房主          5822 non-null   int64
 31  一辆车         5822 non-null   int64
 32  两辆车         5822 non-null   int64
 33  无车          5822 non-null   int64
 34  公共社保        5822 non-null   int64
 35  私人社保        5822 non-null   int64
 36  收入低于30      5822 non-null   int64
 37  收入30-45     5822 non-null   int64
 38  收入45-75     5822 non-null   int64
 39  收入75-122    5822 non-null   int64
 40  收入大于123     5822 non-null   int64
 41  平均收入        5822 non-null   int64
 42  购买力水平       5822 non-null   int64
 43  个人第三方保险     5822 non-null   int64
 44  商业 第三方保险    5822 non-null   int64
 45  农业第三方险      5822 non-null   int64
 46  投保车险        5822 non-null   int64
 47  投保货车险       5822 non-null   int64
 48  投保摩托车险      5822 non-null   int64
 49  投保卡车险       5822 non-null   int64
 50  投保房车险       5822 non-null   int64
 51  投保拖拉机险      5822 non-null   int64
 52  投保农机险       5822 non-null   int64
 53  投保机动自行车险    5822 non-null   int64
 54  投保寿险        5822 non-null   int64
 55  投保个人意外险     5822 non-null   int64
 56  投保家庭意外险     5822 non-null   int64
 57  投保身残险       5822 non-null   int64
 58  投保火险        5822 non-null   int64
 59  投保冲浪险       5822 non-null   int64
 60  投保船险        5822 non-null   int64
 61  投保自行车险      5822 non-null   int64
 62  投保财产险       5822 non-null   int64
 63  投保社会安全险     5822 non-null   int64
 64  第三方私人险数量    5822 non-null   int64
 65  第三方商业险数量    5822 non-null   int64
 66  第三方农业险数量    5822 non-null   int64
 67  投保车险数量      5822 non-null   int64
 68  投保货车险数量     5822 non-null   int64
 69  投保摩托车险数量    5822 non-null   int64
 70  投保卡车险数量     5822 non-null   int64
 71  投保房车险数量     5822 non-null   int64
 72  投保拖拉机险数量    5822 non-null   int64
 73  投保农机险数量     5822 non-null   int64
 74  投保机动自行车险数量  5822 non-null   int64
 75  投保寿险数量      5822 non-null   int64
 76  投保个人意外险数量   5822 non-null   int64
 77  投保家庭意外险数量   5822 non-null   int64
 78  投保身残险数量     5822 non-null   int64
 79  投保火险数量      5822 non-null   int64
 80  投保冲浪险数量     5822 non-null   int64
 81  投保船险数量      5822 non-null   int64
 82  投保自行车险数量    5822 non-null   int64
 83  投保财产险数量     5822 non-null   int64
 84  投保社会安全险数量   5822 non-null   int64
 85  移动房车险数量     5822 non-null   int64
dtypes: int64(86)
memory usage: 3.8 MB

In [14]:
data.describe()

,客户次类别,房产数,每房人数,平均年龄,客户主类别,罗马天主教比例,新教比例,其它宗教比例,无宗教比例,已婚占比,...,投保个人意外险数量,投保家庭意外险数量,投保身残险数量,投保火险数量,投保冲浪险数量,投保船险数量,投保自行车险数量,投保财产险数量,投保社会安全险数量,移动房车险数量
count,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,...,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000
mean,24.253349,1.110615,2.678805,2.991240,5.773617,0.696496,4.626932,1.069907,3.258502,6.183442,...,0.005325,0.006527,0.004638,0.570079,0.000515,0.006012,0.031776,0.007901,0.014256,0.059773
std,12.846706,0.405842,0.789835,0.814589,2.856760,1.003234,1.715843,1.017503,1.597647,1.909482,...,0.072782,0.080532,0.077403,0.562058,0.022696,0.081632,0.210986,0.090463,0.119996,0.237087
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,1.000000,2.000000,2.000000,3.000000,0.000000,4.000000,0.000000,2.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30.000000,1.000000,3.000000,3.000000,7.000000,0.000000,5.000000,1.000000,3.000000,6.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,35.000000,1.000000,3.000000,3.000000,8.000000,1.000000,6.000000,2.000000,4.000000,7.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,41.000000,10.000000,5.000000,6.000000,10.000000,9.000000,9.000000,5.000000,9.000000,9.000000,...,1.000000,1.000000,2.000000,7.000000,1.000000,2.000000,3.000000,2.000000,2.000000,1.000000

In [15]:
nan_count = data.isnull().sum().sort_values(ascending=False)
nan_count

客户次类别      0
投保寿险       0
投保财产险      0
投保自行车险     0
投保船险       0
          ..
社会阶层C      0
社会阶层B2     0
社会阶层B1     0
社会阶层A      0
移动房车险数量    0
Length: 86, dtype: int64